*{ 
  margin:0;
  padding: 0;
  border: 0;
  font-size: 20px;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

h3{
  font-size: 24px;
  text-align: center;
}

.testo{
  text-align: center;
  font-size: 16px;
}

.small{
  font-size: 12px;
  text-align: center;
  margin-top: 30px;
  padding: 10px;
}
/* selezione testo */
::-moz-selection {
background: #fac009;
}
::selection {
background:#fac009;
}
/* fine codice selezione testo */

.foto{max-width: 100%;
height: auto;}
h2, h3{text-align: center;}

.bg /*sfondo*/{
  background: url(immagini/2.jpg) no-repeat center center;
  background-size: cover;
  width: 100%;
  height: 700px;
  margin-top: 90px;
}

/*menù*/
.menu {
  background-color: #fac009;
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%;
  height: 90px;
  z-index: 999;
  display: flex;
  justify-content: space-between;
  padding: 10px;
}
 
nav ul li{
   display: inline;
   list-style: none;
   margin: 20px;
  }

.overlay {
  height: 0%;
  width: 100%;
  position: fixed;
  display: block;
  z-index: 999;
  top: 0;
  left: 0;
  background-color: #fac009;
  overflow-y: hidden;
  transition: 0.5s;
}
 
.overlay-content {
  position: relative;
  top: 25%;
  width: 100%;
  text-align: center;
  margin-top: 30px;
}

.overlay a ,
.fa-user-circle{
  padding: 8px;
  text-decoration: none;
  font-size: 36px;
  color: black;
  display: block;
  transition: 0.3s;
}
/*colore testo voce di menù hover*/
.overlay a:hover, .overlay a:focus{
  color: white;
}

.overlay .closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
}

@media screen and (max-height: 450px) {
  .overlay {overflow-y: auto;}
  .overlay a {font-size: 20px}
  .overlay .closebtn {
  font-size: 40px;
  top: 20px;
  right: 35px;
  }
}


header h1{
  margin-top: 0;
  margin-left:35px;
  font-size: 40px;
  color: white;
  text-shadow: 1px 1px 40px black;
  font-family: 'Rock Salt', cursive;
}

.testotitolo{
  padding-top: 200px;
}

/*btn sotto claim*/
.btn {
  border: none;
  background-color: #fac009;
  padding: 15px;
  font-size: 20px;
  cursor: pointer;
  display: inline-block;
  margin-top: 20px;
  margin-left: 35px;
  border-radius: 5px;
}
.btn a{
  text-decoration: none;
  color: white;
}

.btn:hover{
  background-color: #fac009; 
  transition: 0.5s ease;
  opacity: 0.9;
  filter: alpha(opacity=50);
}
/*search*/
 input[type=text] {
  padding: 15px;
  border-radius: 5px;
  font-size: 20px;
  margin-left: 20px;    
}
/*simbolo del search*/ .fa-search{
    color: white;
    font-size: 25px;
    margin-right: 0px;
    margin-left: 10px;
    cursor:pointer;
}
@media screen and (max-width: 600px) {
  input[type=text] {
    float: none;
    display: block;
    text-align: left;
    width: 100%;
    margin: 0;
    padding: 14px;
  }
  input[type=text] {
    border: 1px solid #ccc;
  }
}

/*  main */
.riga{
width: 100%;
display: flex;
justify-content: space-around;
margin-top: 50px;
}
.colonna_presentazione{
width: 50%;
padding: 35px;
}
.colonna_presentazione>h4 {
font-size: 42px;
padding-bottom: 25px;
margin-top: 25%;
}
article p{
font-size: 20px;
text-align: justify;
hyphens:auto; 
-webkit-hyphens: auto;
-ms-hyphens: auto;
}

.cards{
  display: flex;
  width: 100%;
  flex-wrap: wrap;
}

.uno{
  width: 30%;
  margin: auto;
  padding: 20px;
}

.foto{
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
}

.carte{
  padding: 30px;
}

.cartearticoli{
    background-color: #fac009;
    text-align: center;
    border-radius: 25px;
    width: 100%;
}

.leggi{
  color: black;
  text-decoration: underline;
  font-size: 16px;
}

/*tag categoria*/
.categoria{
  width: 120px;
  text-align: center;
  padding: 10px;
  margin-left: 30px;
  margin-top: 10px;
  background-color: #fac009;
  font-size:20px;
  border-radius: 5px;
  position: absolute;
  z-index: 998;
  
}
.categoria a{
  text-decoration: none;
  color: white;
  font-size: 18px;
}
.categoria:hover{
  opacity: 0.9;
  filter: alpha(opacity=50);
  transition: 0.5s ease;
}

  /*footer*/
footer.orange{
  margin-top: 50px;
  background-color:#fac009;
  font-size: 20px;
  height: 210px;
}
footer .social{
  display: flex;
  left: auto;
  right: auto;
  justify-content: center;
  padding-bottom: 20px;
}
footer .fab {
  padding: 10px;
  font-size: 30px;
  width: 30px;
  text-align: center;
  text-decoration: none;
  margin: 1.5em 1.5em 0em 1.5em;
  border-radius: 50%;
  background: black;
  color: #fac009;
  box-sizing: unset;
}

footer .fab:hover {
  opacity: 0.8;
  transition: 0.5s ease;
}

.testofoot{
  text-align: center;
  font-size: 14px;
}

/* PAGINA 404 */

.errore{
  margin-top: 90px;
}

.fantasma{
  margin-top: 200px;
  font-size: 22px;
}

/* GRID AREAS RESPONSIVE */

/* definisco le grid areas */

.banner{
  grid-area: header;
}

.chisiamo {
  grid-area: noi;
}

.cards{
  grid-area: carte;
}

.footer{
  grid-area: footer;
}


.container{
  display: grid;
  grid-template-areas: "header""carte""footer";
  

}


@media only screen and (min-width: 700px)  {
  .container{
    grid-gap: 50px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: "header header header"
                         "noi noi noi"
                         "carte carte carte"
                         "footer footer footer";
  }

  .immagine{
    width: 50%;
    padding: 15px;
  }
  

}

@media screen and (max-width: 699px) {
  .container{
    grid-template-columns: 1f;
    grid-template-areas: "header"
                          "noi"
                          "carte"
                          "footer";
  }

  .riga{
    display: flex;
    flex-wrap: wrap;
  }

  .colonna_presentazione{
    width: 100%;
  }

  .immagine{
    width: 100%;
    padding: 15px;
  }

  .colonna_presentazione>h4 {
    margin-top: 0;
  }

  .uno{
    width: 100%;
  }

  footer .social{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    margin-top: 10px;
  }
}

